<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>BanNongSanLTW</display-name>

	<welcome-file-list>
		<welcome-file>view/client/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
	    <error-code>404</error-code>
	    <location>/404</location>
	</error-page>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterPage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogOutController</servlet-name>
		<servlet-class>controller.LogOutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogOutController</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>

</web-app>