<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>BanNongSanLTW</display-name>

	<welcome-file-list>
		<welcome-file>view/client/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
	    <error-code>404</error-code>
	    <location>/404</location>
	</error-page>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterPage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogOutController</servlet-name>
		<servlet-class>controller.LogOutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogOutController</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	
	
	<!--  Client Router -->
	<servlet>
       <servlet-name>homePage</servlet-name>
       <servlet-class>controller.HomeController</servlet-class>
	</servlet>
	
	<servlet-mapping>
       <servlet-name>homePage</servlet-name>
       <url-pattern></url-pattern>
	</servlet-mapping>
	
	<servlet>
       <servlet-name>productDetail</servlet-name>
       <servlet-class>controller.ProductDetailController</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>productDetail</servlet-name>
       <url-pattern>/view/client/product-detail</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>ProductListClient</servlet-name>
       <servlet-class>controller.ProductListClientController</servlet-class>
   </servlet>
   <servlet-mapping>
       <servlet-name>ProductListClient</servlet-name>
       <url-pattern>/view/client/product</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>ProductListOfCatalogClient</servlet-name>
       <servlet-class>controller.ProductListOfCatalogClientController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>ProductListOfCatalogClient</servlet-name>
       <url-pattern>/view/client/product-id</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>ProductSearch</servlet-name>
       <servlet-class>controller.SearchController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>ProductSearch</servlet-name>
       <url-pattern>/view/client/product/search</url-pattern>
   </servlet-mapping>
   
   <servlet>
		<servlet-name>AddtoCartController</servlet-name>
		<servlet-class>controller.AddtoCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddtoCartController</servlet-name>
		<url-pattern>/view/client/add-cart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CartController</servlet-name>
		<servlet-class>controller.CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartController</servlet-name>
		<url-pattern>/view/client/cart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CartUpdate</servlet-name>
		<servlet-class>controller.CartUpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartUpdate</servlet-name>
		<url-pattern>/view/client/cart-update</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>CheckoutController</servlet-name>
		<servlet-class>controller.CheckoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutController</servlet-name>
		<url-pattern>/view/client/checkout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckoutResultController</servlet-name>
		<servlet-class>controller.CheckoutResultController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CheckoutResultController</servlet-name>
		<url-pattern>/view/client/checkoutresult</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderGuideController</servlet-name>
		<servlet-class>controller.OrderGuideController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderGuideController</servlet-name>
		<url-pattern>/view/client/orderGuide</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PolicyController</servlet-name>
		<servlet-class>controller.PolicyController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PolicyController</servlet-name>
		<url-pattern>/view/client/policy</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ContactController</servlet-name>
		<servlet-class>controller.ContactController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ContactController</servlet-name>
		<url-pattern>/view/client/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>introduce</servlet-name>
		<servlet-class>controller.IntroduceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>introduce</servlet-name>
		<url-pattern>/view/client/introduce</url-pattern>
	</servlet-mapping>
	<!--  Admin -->
	<servlet>
       <servlet-name>AdminLogin</servlet-name>
       <servlet-class>controller.admin.AdminLoginController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>AdminLogin</servlet-name>
       <url-pattern>/admin/login</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>AdminHomePage</servlet-name>
       <servlet-class>controller.admin.AdminHomePage</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>AdminHomePage</servlet-name>
       <url-pattern>/admin/homepage</url-pattern>
   </servlet-mapping>
	
	<servlet>
       <servlet-name>listAdmin</servlet-name>
       <servlet-class>controller.admin.AdminListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listAdmin</servlet-name>
       <url-pattern>/admin/admin/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>addAdmin</servlet-name>
       <servlet-class>controller.admin.AdminAddController</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>addAdmin</servlet-name>
       <url-pattern>/admin/admin/add</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>deleteAdmin</servlet-name>
       <servlet-class>controller.admin.AdminDeleteController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>deleteAdmin</servlet-name>
       <url-pattern>/admin/admin/delete</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>editAdmin</servlet-name>
       <servlet-class>controller.admin.AdminEditController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>editAdmin</servlet-name>
       <url-pattern>/admin/admin/edit</url-pattern>
   </servlet-mapping>
   
   
   <servlet>
       <servlet-name>listUser</servlet-name>
       <servlet-class>controller.admin.UserListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listUser</servlet-name>
       <url-pattern>/admin/user/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>deleteUser</servlet-name>
       <servlet-class>controller.admin.UserDeleteController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>deleteUser</servlet-name>
       <url-pattern>/admin/user/delete</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>editUser</servlet-name>
       <servlet-class>controller.admin.UserEditController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>editUser</servlet-name>
       <url-pattern>/admin/user/edit</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listCategory</servlet-name>
       <servlet-class>controller.admin.CategoryListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listCategory</servlet-name>
       <url-pattern>/admin/cate/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>addCategory</servlet-name>
       <servlet-class>controller.admin.CategoryAddController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>addCategory</servlet-name>
       <url-pattern>/admin/cate/add</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>deleteCategory</servlet-name>
       <servlet-class>controller.admin.CategoryeDeleteController</servlet-class>
   </servlet>
   
   
   <servlet-mapping>
       <servlet-name>deleteCategory</servlet-name>
       <url-pattern>/admin/cate/delete</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>editCategory</servlet-name>
       <servlet-class>controller.admin.CategoryEditController</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>editCategory</servlet-name>
       <url-pattern>/admin/cate/edit</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listProduct</servlet-name>
       <servlet-class>controller.admin.ProductListController</servlet-class>
   </servlet>
   
    <servlet-mapping>
       <servlet-name>listProduct</servlet-name>
       <url-pattern>/admin/product/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>addProduct</servlet-name>
       <servlet-class>controller.admin.ProductAddController</servlet-class>
   </servlet>
   
    <servlet-mapping>
       <servlet-name>addProduct</servlet-name>
       <url-pattern>/admin/product/add</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>deleteProduct</servlet-name>
       <servlet-class>controller.admin.ProductDeleteController</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>deleteProduct</servlet-name>
       <url-pattern>/admin/product/delete</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>editProduct</servlet-name>
       <servlet-class>controller.admin.ProductEditController</servlet-class>
   </servlet>
   
   <servlet-mapping>
       <servlet-name>editProduct</servlet-name>
       <url-pattern>/admin/product/edit</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listOrder</servlet-name>
       <servlet-class>controller.admin.OrderListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listOrder</servlet-name>
       <url-pattern>/admin/order/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listOrderdetail</servlet-name>
       <servlet-class>controller.admin.OrderdetailListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listOrderdetail</servlet-name>
       <url-pattern>/admin/order/list-detail</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>listReview</servlet-name>
       <servlet-class>controller.admin.ReviewListController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>listReview</servlet-name>
       <url-pattern>/admin/review/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
       <servlet-name>deleteReview</servlet-name>
       <servlet-class>controller.admin.ReviewDeleteController</servlet-class>
   </servlet>
 
   <servlet-mapping>
       <servlet-name>deleteReview</servlet-name>
       <url-pattern>/admin/review/delete</url-pattern>
   </servlet-mapping>
   
   
</web-app>